<div class="container">
  <header class="d-flex justify-content-center py-3">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a  class="nav-link active" routerLink="/home" aria-current="page">Home</a>
      </li>
      <li class="nav-item"><a routerLink="/lista" class="nav-link">Autos</a></li>
      <li class="nav-item"><a routerLink="/auto" class="nav-link">Agregar</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Contacto</a></li>
    </ul>
  </header>
</div>
